<tce-container>
  <tce-container-header title="Configuração de Caminho do Projeto"></tce-container-header>

  <tce-filter class="my-4" (find)="onFilter()" (clear)="clearFilters()">
    <form [formGroup]="resourceFilterForm">
      <div class="form-row">
      </div>
    </form>
  </tce-filter>

  <main>
    <tce-table
      [id]="'tabela-ConfiguracaoCaminhos'"
      (pageSizeChange)="pageSize = $event"
      (searchTermChange)="searchTerm = $event"
      (pageChange)="page = $event"
    >
      <div legend>
        <fa-icon icon="edit" class="ml-3"></fa-icon> Editar
        <fa-icon icon="trash" class="ml-3 mr-1"></fa-icon> Excluir
      </div>
      <table
        aria-describedby="Tabela para a listagem de Configuracao Caminhos"
        content
        class="table table-striped text-center"
      >
        <thead>
          <tr>
            <th></th>
            <th tceSortable="caminhoCliente" (sort)="onSort($event)" >Caminho do Projeto Cliente</th>
            <th tceSortable="caminhoApi" (sort)="onSort($event)" >Caminho do Projeto Api</th>
            <th tceSortable="caminhoArquivoRota" (sort)="onSort($event)" >Caminho do Arquivo de Rotas</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of resources$
                | async
                | paginate
                  : {
                      id: 'tabela-ConfiguracaoCaminhos',
                      itemsPerPage: pageSize,
                      currentPage: page,
                      totalItems: total$ | async
                    }
            "
          >
            <td></td>
            <td>{{ item.caminhoCliente }}</td>
            <td>{{ item.caminhoApi }}</td>
            <td>{{ item.caminhoArquivoRota }}</td>
            <td>
              <fa-icon
                icon="edit"
                tooltip="Editar"
                [routerLink]="[item.idConfiguracaoCaminho, 'edit']" 
              ></fa-icon>
              <fa-icon
                icon="trash"
                tooltip="Excluir"
                class="ml-2"
                (click)="deleteResource(item.idConfiguracaoCaminho)" 
              ></fa-icon>
            </td>
          </tr>
          <tr *ngIf="(resources$ | async)?.length == 0">
            <td colspan="5">
              Nenhum Configuracao Caminhos encontrado.
            </td>
          </tr>
        </tbody>
      </table>
    </tce-table>
  </main>
</tce-container>