<tce-container>
  <tce-container-header
    [title]="pageTitle"
    [showBtn]="false"
  ></tce-container-header>
  <main class="mt-3">
    <form [formGroup]="resourceForm">
      <fieldset>
        <small class="right-form">(*) Campos Obrigatórios</small>
        <legend>Formulário de Configuração de Caminhos</legend>
        <div class="form-row mt-2">
          <tce-input-field
            class="col-6"
            label="Caminho Projeto Api"
            type="text"
            formControlName="caminhoApi"
            [control]="resourceForm.get('caminhoApi')"
            placeholder="Digite o caminho de destino do projeto api"
            maxCaracteres="500"
          ></tce-input-field>
          <tce-input-field
            class="col-6"
            label="Caminho Projeto Cliente"
            type="text"
            formControlName="caminhoCliente"
            [control]="resourceForm.get('caminhoCliente')"
            placeholder="Digite o caminho de destino do projeto cliente"
            maxCaracteres="500"
          ></tce-input-field>
        </div>
        <div class="form-row mt-2">
          <div class="col-6">
            <tce-select-field
              label="Estrutura do Projeto"
              [itemFillSelect]="configuracoesEstruturas"
              formControlName="idConfiguracaoEstrutura"
              bindLabelSelect="nomeEstrutura"
              bindValueSelect="idConfiguracaoEstrutura"
              placeholder="Selecione uma tabela"
              [control]="resourceForm.get('idConfiguracaoEstrutura')"
            >
            </tce-select-field>
          </div>
        </div>
      </fieldset>

      <div class="mt-3">
        <button
          class="btn btn-primary mr-2 w-100 w-sm-auto mb-2 mb-sm-0"
          (click)="submitPathForm()"
        >
          VALIDAR CAMINHO E SALVAR
        </button>
        <button
          class="btn btn-outline-success w-100 w-sm-auto mb-2 mb-sm-0"
          (click)="back()"
        >
          VOLTAR
        </button>
      </div>
    </form>
  </main>
</tce-container>
