<!-- 
  Arquivo gerado automaticamente pelo PRAGMA.
  Este código pode ser ajustado ou expandido de acordo com suas necessidades.
-->
<tce-container>
  <tce-container-header [title]="pageTitle" [showBtn]="false"></tce-container-header>
  <main class="mt-3">
    <form [formGroup]="resourceForm">
      <fieldset>
        <small class="right-form">(*) Campos Obrigatórios</small>
        <legend>Formulário de Configuracao Estrutura Projeto</legend>
        <div class="form-row mt-2">
          <tce-input-field
            class="col-3"
            label="Nome Estrutura"
            placeholder="Digite Nome Estrutura"
            type="text"
            formControlName="nomeEstrutura"
            [control]="resourceForm.get('nomeEstrutura')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Api Dependency Injection Config"
            placeholder="Digite Api Dependency Injection Config"
            type="text"
            formControlName="apiDependencyInjectionConfig"
            [control]="resourceForm.get('apiDependencyInjectionConfig')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Api Configure Map"
            placeholder="Digite Api Configure Map"
            type="text"
            formControlName="apiConfigureMap"
            [control]="resourceForm.get('apiConfigureMap')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Api Controllers"
            placeholder="Digite Api Controllers"
            type="text"
            formControlName="apiControllers"
            [control]="resourceForm.get('apiControllers')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Api Entities"
            placeholder="Digite Api Entities"
            type="text"
            formControlName="apiEntities"
            [control]="resourceForm.get('apiEntities')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Api Mapping"
            placeholder="Digite Api Mapping"
            type="text"
            formControlName="apiMapping"
            [control]="resourceForm.get('apiMapping')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Api Contexts"
            placeholder="Digite Api Contexts"
            type="text"
            formControlName="apiContexts"
            [control]="resourceForm.get('apiContexts')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Api Services"
            placeholder="Digite Api Services"
            type="text"
            formControlName="apiServices"
            [control]="resourceForm.get('apiServices')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Client App Module"
            placeholder="Digite Client App Module"
            type="text"
            formControlName="clientAppModule"
            [control]="resourceForm.get('clientAppModule')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Client Services"
            placeholder="Digite Client Services"
            type="text"
            formControlName="clientServices"
            [control]="resourceForm.get('clientServices')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Client Models"
            placeholder="Digite Client Models"
            type="text"
            formControlName="clientModels"
            [control]="resourceForm.get('clientModels')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Client Modulos"
            placeholder="Digite Client Modulos"
            type="text"
            formControlName="clientModulos"
            [control]="resourceForm.get('clientModulos')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Data Inclusao"
            placeholder="Digite Data Inclusao"
            type="date"
            formControlName="dataInclusao"
            [control]="resourceForm.get('dataInclusao')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Id Operador Inclusao"
            placeholder="Digite Id Operador Inclusao"
            type="number"
            formControlName="idOperadorInclusao"
            [control]="resourceForm.get('idOperadorInclusao')"
          ></tce-input-field>
          <tce-input-field
            class="col-3"
            label="Id Sessao"
            placeholder="Digite Id Sessao"
            type="number"
            formControlName="idSessao"
            [control]="resourceForm.get('idSessao')"
          ></tce-input-field>
        </div>
      </fieldset>

      <div class="mt-3">
        <button
          class="btn btn-primary mr-2 w-100 w-sm-auto mb-2 mb-sm-0"
          (click)="onSubmit()"
        >
          SALVAR
        </button>
        <button
          class="btn btn-outline-success w-100 w-sm-auto mb-2 mb-sm-0"
          (click)="back()"
        >
          VOLTAR
        </button>
      </div>
    </form>
  </main>
</tce-container>