::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--teal) !important;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--cor-primaria) !important;
}

.script-area {
  width: 100%;
  height: 300px;
  background-color: #1e1e1e;
  color: #d4d4d4;
  border: none;
  padding: 12px;
  font-family: "Courier New", monospace;
  font-size: 13px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  resize: vertical;
}

.script-header {
  background-color: #2d2d2d;
  color: #fff;
  padding: 8px 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 13px;
  font-weight: 500;
}