<tce-container>
  <div class="row">
    <div class="col-sm-12">
      <div
        class="hello-user alert sucess fade show"
        style="border-color: #e9ecef"
      >
        <h3
          class="alert-heading text-center"
          style="
            color: var(--cor-primaria);
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
          "
        >
          Bem-vindo à plataforma inteligente para automação e geração de
          módulos.
        </h3>
      </div>
    </div>
  </div>
</tce-container>
