<tce-container>
  <div class="row">
    <div class="col-sm-12">
      <div
        class="hello-user alert sucess fade show"
        style="border-color: #e9ecef"
      >
        <h3
          class="alert-heading text-center"
          style="
            color: var(--cor-primaria);
            font-weight: 500;
            font-size: 1.5rem;
            text-align: center;
          "
        >
          Bem-vindo ao <b>PRAGMA</b> – Plataforma Rápida para Geração de Módulos
          Automatizados.
        </h3>

        <p style="font-size: 1rem; color: #495057; margin-bottom: 1rem">
          Esta plataforma foi desenvolvida para simplificar e acelerar a criação
          de código CRUD, permitindo gerar de forma rápida e padronizada os
          componentes e funcionalidades de um sistema.
        </p>

        <h5 style="color: var(--cor-primaria); margin-bottom: 0.5rem">
          Módulo de Configurações
        </h5>
        <p style="font-size: 0.95rem; color: #495057; margin-bottom: 1rem">
          Aqui você pode gerenciar as conexões de banco de dados e os caminhos
          dos projetos. Isso facilita a geração do código, permitindo selecionar
          uma conexão e um caminho pré adicionado sem a necessidade de digitar
          manualmente.
        </p>

        <div class="row">
          <div class="col-6">
            <h5 style="color: var(--cor-primaria); margin-bottom: 0.5rem">
              Módulo de Geração de Código
            </h5>
            <p style="font-size: 0.95rem; color: #495057; margin-bottom: 1rem">
              Neste módulo, você poderá gerar o código CRUD de maneira prática e
              rápida, seguindo três etapas principais:
            </p>
            <ul style="font-size: 0.95rem; color: #495057; margin-left: 1.5rem">
              <li>Selecionar ou digitar a conexão do banco de dados.</li>
              <li>
                Selecionar ou digitar o caminho do projeto onde os arquivos
                serão gerados.
              </li>
              <li>
                Configurar a geração do código, selecionando a tabela, definindo
                o nome da entidade, campos de listagem e filtros, etc.
              </li>
            </ul>
          </div>
          <div class="col-6" style="text-align: center; margin-bottom: 1rem">
            <img
              src="assets/images/programming.svg"
              alt="Programação"
              style="width: 300px; height: auto"
            />
          </div>
        </div>

        <p style="font-size: 0.95rem; color: #495057; margin-top: 1rem">
          Com essas etapas, o PRAGMA permite produzir código consistente,
          seguindo padrões técnicos e de arquitetura, economizando tempo e
          evitando tarefas repetitivas.
        </p>
      </div>
    </div>
  </div>
</tce-container>
